* {
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #f98fec;
}

body {
  background: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

h1 {
  color: #1c65e3;
  font-size: 24px;
  text-align: center;
}

h2,
p,
h3,
table,
caption,
strong {
  color: white;
}

p {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}
 #cabecera{
    color: #ff9;
    background-color: #000;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  #contenedor {
    margin: 0 auto;
    width: 1000px;
  }

  #contenido {
    background-color: #286082;
    float: left;
    height: 900px;
    padding: 10px;
    width: 830px;
    text-align: justify;
  }

  #menu {
    background-color: #4f71a3;
    float: left;
    height: 900px;
    padding: 10px;
    width: 130px;
    font-size: 20px;
  }

  #pie {
    background-color: #bbb;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
  }

  #columnas {
    column-count: 3;
    column-gap: 30px;
  }

  .text {
    font-size: 70px;
  }

  .button {
    text-align: center;
    height: 80px;
    width: 100px;
    border-radius: 20%;
  }

  table {
    padding: 5px;
    background-color: #00afff;
    margin: 0 auto;
  }

  table,
  th {
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
  }

  td {
    text-align: center;
    padding: 10px;
  }

  .negro {
    color: #000;
  }

  .inicio {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
  }