h1{
    text-align: center;
    color:#1c65e3;
}
body{
    background-color: black;
}
h2,p,h3{
    color:white;
}
#columnas{
    column-count: 3;
    column-gap: 30px;
}
ul,li{
    list-style: none;
}
strong{
    color: white;
}
div{
    text-align: center;
}
a{
    color: #ff0080;
}
.text{
    font-size: 70px;
}