h1{
    text-align: center;
    color:#1c65e3;
}
body{
    background-color: black;
}
h2,p,h3,table,caption{
    color:white;
}
#columnas{
    column-count: 3;
    column-gap: 30px;
}
ul,li{
    list-style: none;
}
strong{
    color: white;
}
div{
    text-align: center;
}
a{
    color: #ff0080;
}
.text{
    font-size: 70px;
}
.button{
    text-align: center;
    height:80px;
    width:100px;
    background-color:floralwhite;
    border-radius:20%;
}
table{
   border-style: solid; 
   padding: 5px;
   background-color: #00afff;
}
td{
    text-align: center;
    padding: 10px;
}
table,th{
    border-style: solid; 
    border-collapse:collapse;
}